{% extends 'base.html.twig' %}

{% block container %}

    <div align="center">
        <h4 class="alert alert-danger">PAGE INTROUVABLE</h4>
        <a href="{{path('app_main')}}" class="btn btn-primary">Retour à la page d'accueil</a>
    </div>
{% endblock %}